CMSCONNECT=YES
RUNNINGHOSTNAME={{ ec_hostname }}
HOSTNAME={{ role_mq_primary_tems }}
NETWORKPROTOCOL=ip.pipe
IPPIPEPORTNUMBER=1918
FTO=YES
MIRROR={{ role_mq_secondary_tems }}
HSNETWORKPROTOCOL=ip.pipe
HSIPPIPEPORTNUMBER=1918
DISABLE_HTTP=YES

